* {
    margin: 0;
    padding: 0;
}

.container{
    width: 970px;
    height: 775px;
    background-color: rgba(5, 5, 73, 0.745);
    margin: 20px;
    padding: 10px;
}

h1 {
    height: 40px;
    width: 934px;
    margin: 10px;
    background-color: red;
    padding: 10px;
    align-items:center;
    border-radius: 12px;
    color: white;
}

.home {
    display: flex;
    width: 970px;
    height: 620px;
    
}

.navigation {
    width: 135px;
    height: 210px;
    background-color: teal;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    border-radius: 12px;
    color: skyblue;
    font-size: smaller;
    padding: 20px;
}

.teal {
    margin: 0 10px 10px 10px;
}

.main {
    width: 720px;
    height: 550px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 12px;
}

.items {
    color: royalblue;
}

.bullets {
    margin-left: 20px;
}

.footer {
    width: 935px;
    height: 35px;
    background-color: gray;
    border-radius: 12px;
    color: white;
    font-size: smaller;
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 10px;
}

a {
    color: skyblue;
}

/* //nesting the bullets inside bullets in the navigation bar// */
.nest {
    margin-left: 15px;
}

.my_word {
    color: purple;
}